:root{
    /*Tipografia*/
    /* font-family: "Open Sans", serif; */
    font-size:  16px;

    /*Colors*/
    --bg-color-default: #f5f4f0;
    --border-color-primary: #d9d9d9/
    --text-color-primary: #1b1b1b;
    --text-color-seconday: #333;
    --text-color-tertiary: #696969;
    --text-color-headline: #e1624f;

    --color-accent-blue:  #0c51a7;
    --color-accent-orange: #e95e10;
    --color-accent-pink: #e5245e;
    --color-accent-purple: #591b98;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

}

/* h1{
font-style: 36px;
}
h2{
    font-style: 32px;
}
h3{
    font-style: 28px;
} */
